<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hayanesh.dsm">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_dsm"
        android:label="@string/app_name"
        android:screenOrientation="portrait"

        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:label="New Registration"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UpdateApp"
            android:screenOrientation="portrait"
            android:label="DSM"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DSM"
            android:label="@string/title_activity_dsm"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserProfile" />
        <activity
            android:name=".ApplianceDisplay"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeviceConnection"
            android:label="@string/title_activity_device_connection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfile"
            android:label="Edit profile"
            android:screenOrientation="portrait"
            android:parentActivityName=".UserProfile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hayanesh.dsm.UserProfile" />

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ViewAppliance"
            android:label="@string/title_activity_view_appliance"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
    </application>

</manifest>